---
import "../styles/global.css";
import Head from "../components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IMG_048A5038_1200x630 from "../assets/IMG_048A5038_1200x630.jpg";
import '@fontsource/sedgwick-ave';
import '@fontsource/reenie-beanie';
import Footer from "../components/Fotter.astro";
import events from "../assets/events";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
	</head>
	<body>
        <header>
            <Navigation />
        </header>

        <main>
            <div id="events-wrapper">
                <h1>Events</h1>

                <div id="events">
                    {events.map((e) => (
                        <div class="event">
                            <div class="event-icon-wrapper">
                                <a href={e.url}>
                                    <img alt="" src={e.image} />
                                </a>
                            </div>

                            <div class="event-text-wrapper">
                                <div class="event-date">
                                    {e.date}
                                </div>

                                <a href={e.url}>
                                {e.title}
                                </a>

                                <div class="event-location">
                                    {e.location}
                                </div>
                            </div>

                            <div class="event-buy-button">
                                <a href={e.url}>
                                    Buy Tickets
                                </a>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </main>

        <Footer />
	</body>
</html>

<style>
    nav {
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: #d57d18;
        gap: 2rem;
        font-size: 32px;
        font-family: 'Reenie Beanie', cursive;
    }

    nav img {
        height: 9rem;
    }

    nav > a {
        color: #d57d18;
        text-decoration: none;
    }

    #banner {
        height: 100dvh;
    }

    #banner > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    main {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        box-sizing: border-box;
        gap: 2rem;
    }

    h1 {
        font-family: 'Reenie Beanie', cursive;
        color: #d57d18;
        font-size: 5rem;
        margin: 0;
    }

    #events-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    #events {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .event {
        display: flex;
        gap: 1rem;
        height: 10rem;
        align-items: center;
    }

    .event-icon-wrapper {
        height: 100%;
        width: 25%;
        background-color: #d57d18;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    .event-icon-wrapper img {
        height: 100%;
        width: 100%;
        /* max-width: 25%; */
        object-fit: cover;

    }

    .event-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .event-text-wrapper > a {
        color: #d57d18;
        text-decoration: none;
        font-size: 30px;
    }

    .event-location, .event-date {
        font-size: 20px;
    }

    .event-buy-button {
        margin-left: auto;
    }

    .event-buy-button > a {
        color: white;
        text-decoration: none;
        background-color: #d57d18;
        border-radius: #d57d18;
        border-width: 1px;
        border: 1px solid orange;
        padding: 0.5rem 0.5rem;
        box-sizing: border-box;
    }

</style>

