---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Banner from "~components/Banner.astro";
import Events from "~components/Events.astro";
import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import Merchandise from "~src/components/Merchandise.astro";
import YouTube from "~components/YouTube.astro";
import Footer from "~components/Footer.astro";

import drumkit from "~assets/icons/drumkit.svg";
import trumpet from "~assets/icons/trumpet.svg";
import saxophone from "~assets/icons/saxophone.svg";
---

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>
    <body>
        <header>
            <Navigation style="position: absolute; width: 100%; z-index: 999;" />
            <Banner />
        </header>

        <main>
            <section>
                <h1>Events</h1>

                <Events number={3} />

                <div class="view-all-events-button">
                    <a href="/gentsandginger/events/">View All Events</a>
                </div>
            </section>

            <div class="instrument drumkit mobile">
                <img alt="" src={drumkit.src} />
            </div>

            <section>
                <h1>Githerments In Groove</h1>

                <GithermentsInGroove />
            </section>

            <div class="instrument trumpet mobile">
                <img alt="" src={trumpet.src} />
            </div>

            <section>
                <h1>Merchandise</h1>

                <Merchandise />

                <div class="view-all-events-button">
                    <a href="/gentsandginger/merchandise/">View All Merchandise</a>
                </div>
            </section>

            <div class="instrument saxophone mobile">
                <img alt="" src={saxophone.src} />
            </div>

            <section>
                <h1>Those Were The Days</h1>

                <YouTube
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    loading="lazy"
                    name="YouTube video player"
                    src="https://www.youtube.com/embed/gXMAVJ8y9Qk?si=yMVbQXZTZnDOYO_x"
                />
            </section>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";
    @use "~styles/riko";

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
        transform: translate3d(0, 0, 0);
    }

    body {
        overflow: hidden;
    }

    main {
        gap: 5rem;
    }

    h1 {
        @include fonts.reeniebeanie;
        color: black;
        font-size: 4rem;
    }

    @media (max-width: 700px) {
        h1 {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 3rem;
        }
    }

    @media (max-width: 500px) {
        h1 {
            font-size: 2.5rem;
        }
    }

    .view-all-events-button {
        display: flex;
        justify-content: center;

        a {
            color: white;
            text-decoration: none;
            background-color: #d57d18;
            padding: 0.5rem;
            box-sizing: border-box;
        }
    }

    .instrument {
        width: 80%;
        position: absolute;
        z-index: 99;

        img {
            width: 100%;
        }
    }

    .drumkit {
        top: calc(100svh + 2rem + 439.5px + 5rem - 349.33px + 29svh);
        right: 0;

        img {
            transform: scaleX(-1);
        }
    }

    .trumpet {
        top: calc(100svh + 2rem + 439.5px + 5rem + 556px + 5rem - 114.12px);
        left: 0;
    }

    .saxophone {
        top: calc(100svh + 2rem + 439.5px + 5rem + 556px + 5rem + 733px + 5rem - 357.11px + 25svh);
        left: 0;
    }
</style>
