---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Banner from "~components/Banner.astro";
import bannerdesktop from "~assets/banner/truckfestival0001.png";
import bannermobile from "~assets/banner/truckfestival0002.png";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import P from "~components/P.astro";
import H1 from "~components/H1.astro";
import Button from "~components/Button.astro";

import Live from "~components/live.astro";
import Store from "~components/store.astro";
import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import YouTube from "~components/YouTube.astro";
import MeetTheBand from "~components/MeetTheBand.astro";

import "~styles/global.scss";
---

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const header = document.querySelector("header")!;
        header.style.height = `${window.innerHeight}px`;
    });
</script>

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>

    <body>
        <header>
            <Navigation />
            <Banner desktop={bannerdesktop} mobile={bannermobile} />
        </header>

        <main>
            <section>
                <div>
                    <H1>Upcoming Events...</H1>

                    <Live number={3} />

                    <Button href="/live/">View All Events</Button>
                </div>
            </section>

            <section style="background-color: #d57d18;">
                <div>
                    <GithermentsInGroove />
                </div>
            </section>

            <section>
                <div>
                    <YouTube />
                </div>
            </section>

            <section style="background-color: #d57d18;">
                <div>
                    <H1 dynamic scale={1.5} align="center">A Manchester-Based Five-Piece Family Feast!</H1>

                    <P align="center" desktop quotation>
                        Once described as having the vibe of waking up on your birthday and having ten Weetabix for breakfast, Gents & Ginger brings
                        the vibrant spirits and positive energy of their world straight to your eardrums. This Manchester-based five-piece family
                        feast, brings a delicious blend of old-school funk and rock with a modern twist. Off the back of their critically acclaimed
                        debut album 'Githerments in Groove' and sold-out 'Those Were The Days' UK headline tour, Gents & Ginger continue to light up
                        the stage performing on the Nest stage at Truck Festival.
                    </P>

                    <P align="center" mobile quotation>
                        Once described as having the vibe of waking up on your birthday and having ten Weetabix for breakfast, Gents & Ginger brings
                        the vibrant spirits and positive energy of their world straight to your eardrums. This Manchester-based five-piece family
                        feast, brings a delicious blend of old-school funk and rock with a modern twist.
                    </P>

                    <MeetTheBand />
                </div>
            </section>

            <section>
                <div>
                    <H1>Store</H1>

                    <Store number={4} />

                    <Button href="/store/">View Store</Button>
                </div>
            </section>

            <Footer />
        </main>
    </body>
</html>

<style lang="scss">
    @use "~styles/color";
    @use "~styles/riko";

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: 3rem 1rem;
        box-sizing: border-box;

        > div {
            margin: auto;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }
</style>
