---
import "../styles/global.css";
import Head from "../components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IMG_048A5038_1200x630 from "../assets/IMG_048A5038_1200x630.jpg";
import GithermintsInGroove from "../assets/Githerments in Groove.jpg";
import '@fontsource/sedgwick-ave';
import banner_desktop from "../assets/banner_desktop.jpg";
import nav_logo from "../assets/nav_logo.png";
import '@fontsource/reenie-beanie';
import thefulfordarms from "../assets/thefulfordarms.png";
import truckfestival from "../assets/truckfestival.png";
import bandonthewall from "../assets/bandonthewall.jpg";
---

<!doctype html>
<html lang="en">
	<head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
	</head>
	<body>

        <header>
            <nav>
                <a href="/events/">Events</a>
                <a href="/merchandise/">Merchandise</a>
                <img src={nav_logo.src} />
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </nav>

            <div id="banner">
                <img alt="" src={banner_desktop.src} />
            </div>
        </header>

        <main>

            <div id="events-wrapper">
                <h1>Events</h1>

                <div id="events">
                    <div class="event">
                        <div class="event-icon-wrapper">
                            <img alt="" src={truckfestival.src} />
                        </div>
                        <a href="https://truckfestival.com/line-up/">
                            Truck Festival 2025
                        </a>
                    </div>

                    <div class="event">
                        <div class="event-icon-wrapper">
                            <img alt="" src={thefulfordarms.src} />
                        </div>
                        <a href="https://www.fatsoma.com/e/j1o4jbmb/la/hml2">
                            8th June 2025 York Fulford Arms Headline
                        </a>
                    </div>

                    <div class="event">
                        <div class="event-icon-wrapper">
                            <img alt="" src={bandonthewall.src} />
                        </div>
                        <a href="https://bandonthewall.org/events/elephunk-in-the-room-gents-and-gingers-the-palpitations/">
                            Elephunk in the room: Gents & Ginger + The Palpitations
                        </a>
                    </div>
                </div>
            </div>
        </main>
	</body>
</html>

<style>
    nav {
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: absolute;
        color: #d57d18;
        gap: 2rem;
        font-size: 32px;
        font-family: 'Reenie Beanie', cursive;
    }

    nav > img {
        height: 100%;
    }

    nav > a {
        color: #d57d18;
        text-decoration: none;
    }


    #banner {
        height: 100dvh;
    }

    #banner > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    main {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        box-sizing: border-box;
        gap: 2rem;
    }

    h1 {
        font-family: 'Reenie Beanie', cursive;
        color: #d57d18;
        font-size: 5rem;
        margin: 0;
    }

    #events-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #events {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .event {
        display: flex;
        gap: 1rem;
        height: 4rem;
        align-items: center;
    }

    .event-icon-wrapper {
        height: 100%;
        background-color: #d57d18;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    img {
        height: 100%;
    }

    .event > a {
        color: #d57d18;
        text-decoration: none;
        font-size: 20px;
    }

    #githermints-in-groove > img {
        width: 100%;
        border-radius: 0.5rem;
    }

    #heading {
        font-family: 'Sedgwick Ave', cursive;
        color: #d57d18;
        font-size: 2rem;
    }

    #links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #links > a {
        color: #d57d18;
        text-decoration: none;
    }

</style>
