---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Banner from "~components/Banner.astro";
import bannerdesktop from "~assets/banner/truckfestival0001.png";
import bannermobile from "~assets/banner/truckfestival0002.png";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import H1 from "~components/H1.astro";
import Button from "~components/Button.astro";

import Live from "~components/live.astro";
import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import YouTube from "~components/YouTube.astro";

import "~styles/global.scss";
---

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>

    <body>
        <header>
            <Navigation />
            <Banner desktop={bannerdesktop} mobile={bannermobile} />
        </header>

        <main>
            <section>
                <div>
                    <H1 size="dynamic">Upcoming Events...</H1>

                    <Live number={3} />

                    <Button href="/gentsandginger/live/">View All Events</Button>
                </div>
            </section>

            <section style="background-color: #d57d18;">
                <div>
                    <GithermentsInGroove />
                </div>
            </section>

            <section>
                <div>
                    <YouTube
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        loading="eager"
                        name="YouTube video player"
                        src="https://www.youtube.com/embed/gXMAVJ8y9Qk?si=yMVbQXZTZnDOYO_x"
                    />
                </div>
            </section>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/color";

    header {
        height: 100svh;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: 3rem 1rem;
        box-sizing: border-box;

        > div {
            margin: auto;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }
</style>
