---
import "../styles/global.css";
import Head from "../components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IMG_048A5038_1200x630 from "../assets/IMG_048A5038_1200x630.jpg";
import GithermintsInGroove from "../assets/Githerments in Groove.jpg";
import '@fontsource/sedgwick-ave';
import banner_desktop from "../assets/banner_desktop.jpg";
---

<!doctype html>
<html lang="en">
	<head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
	</head>
	<body>

        <header>
            <div id="banner">
                <img alt="" src={banner_desktop.src} />
            </div>
        </header>

        <main>
            <div id="githermints-in-groove">
                <img alt="" src={GithermintsInGroove.src} />
            </div>

            <div id="heading">
                Gents & Ginger
            </div>

            <div id="links">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSes613JZzO880ZoA38NtIuJxes6Swd_OUUrO7Oxtaq5vwXgmQ/closedform">
                    Limited New Merch Pre Order
                </a>

                <a href="https://www.fatsoma.com/e/j1o4jbmb/la/hml2">
                    8th June York Fulford Arms Headline
                </a>

                <a href="https://truckfestival.com/line-up/">
                    Come See Us at Truckfest
                </a>

                <a href="https://kycker.ffm.to/githermentsingroove">
                    Listen to our Debut Album
                </a>

                <a href="https://www.youtube.com/watch?v=gXMAVJ8y9Qk">
                    TWTD Music Video
                </a>
        </main>
	</body>
</html>

<style>
    #banner {
        /* overflow: hidden; */
        /* height: 100dvh;
        width: 100dvw; */
    }

    #banner > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    main {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        box-sizing: border-box;
        gap: 2rem;
    }

    /* #githermints-in-groove {
        max-width: 500px;
        margin: auto;
    } */

    #githermints-in-groove > img {
        width: 100%;
        border-radius: 0.5rem;
    }

    #heading {
        font-family: 'Sedgwick Ave', cursive;
        color: #d57d18;
        font-size: 2rem;
    }

    #links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #links > a {
        color: #d57d18;
        text-decoration: none;
    }

</style>
