---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Banner from "~components/Banner.astro";
import bannerdesktop from "~assets/banner/truckfestival0001.png";
import bannermobile from "~assets/banner/truckfestival0002.png";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import YouTube from "~components/YouTube.astro";

import "~styles/global.scss";
---

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>

    <body id="pagepiling">
        <header>
            <Navigation />
            <Banner desktop={bannerdesktop} mobile={bannermobile} />
        </header>

        <main>
            <section>
                <GithermentsInGroove />
            </section>

            <section>
                <YouTube />
            </section>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss"></style>
