---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Banner from "~components/Banner.astro";
import bannerdesktop from "~assets/banner/truckfestival0001.png";
import bannermobile from "~assets/banner/truckfestival0002.png";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import YouTube from "~components/YouTube.astro";

import "~styles/global.scss";
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.css" />
<script is:inline defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script is:inline defer src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        $("#pagepiling").pagepiling();
        $("#pp-nav").hide();
    });
</script>

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>

    <body id="pagepiling">
        <div class="section">
            <Navigation style="position: absolute; width: 100%;" />
            <Banner desktop={bannerdesktop} mobile={bannermobile} />
        </div>

        <section class="section GIG">
            <div>
                <!-- <H1>"Listen to our Debut Album"</H1> -->
                <GithermentsInGroove />
            </div>
        </section>

        <section class="section YT">
            <div>
                <YouTube />
            </div>
        </section>

        <div class="section">
            <Footer />
        </div>
    </body>
</html>

<style lang="scss">
    @use "~styles/color";

    .section {
        height: 100svh;
        width: 100%;
    }

    section div {
        margin: auto;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    // .YT {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // .GIG {
    //     height: 216px;
    //     overflow: hidden;
    //     background-color: #8f3300;
    // }

    .GIG {
        background-color: #600e00;
    }

    .YT {
        background-color: color.$eggshell;
    }
</style>
