---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import merchandise from "~assets/merchandise";

const gbp = new Intl.NumberFormat("en-GB", { style: "currency", currency: "GBP" });
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>
    <body>
        <header>
            <Navigation />
        </header>

        <main>
            <h1>Merchandise</h1>

            <div class="wrapper">
                {
                    merchandise.map((e) => (
                        <div class="product">
                            <div class="image">
                                <img alt="" src={e.image} />
                            </div>

                            <div class="text">
                                <div class="title">{e.name}</div>
                                <div class="price">{gbp.format(e.price)}</div>
                            </div>

                            <button disabled class="button">
                                Sold Out
                            </button>
                        </div>
                    ))
                }
            </div>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";

    $productWidth: 200px;

    main {
        gap: 1rem;
    }

    h1 {
        @include fonts.reeniebeanie;
        color: #d57d18;
        font-size: 5rem;
        margin: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, $productWidth);
        grid-gap: 1rem;
        justify-content: center;

        padding: 1rem;
        box-sizing: border-box;
    }

    .product {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;

        width: $productWidth;
        background-color: #e6972e;

        border-radius: 0.25rem;

        padding: 0.5rem;
        box-sizing: border-box;

        .image {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .button {
        }
    }
</style>
