---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import merchandise from "~assets/merchandise";
import search from "~assets/icons/search.svg";

const gbp = new Intl.NumberFormat("en-GB", { style: "currency", currency: "GBP" });
const products = merchandise;
---

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const input = document.getElementById("search") as HTMLInputElement;
        const products = document.querySelectorAll(".product");

        input.addEventListener("input", () => {
            const search = input.value.toLowerCase();

            products.forEach((e) => {
                const product = e as HTMLElement;
                const title = product.dataset.title!.toLowerCase();

                product.style.display = title.includes(search) ? "flex" : "none";
            });
        });
    });
</script>

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>
    <body>
        <header>
            <Navigation />
        </header>

        <main>
            <h1>Merchandise</h1>

            <div class="search">
                <img alt="" src={search.src} />
                <input id="search" type="text" placeholder="Search products..." />
            </div>

            <div class="wrapper">
                {
                    products.map((e) => (
                        <div class="product" data-title={e.name.toLowerCase()}>
                            <div class="image">
                                <img alt="" src={e.image} />
                            </div>

                            <div class="text">
                                <div class="title">{e.name}</div>
                                <div class="price">{gbp.format(e.price)}</div>
                            </div>

                            <button disabled class="button">
                                Sold Out
                            </button>
                        </div>
                    ))
                }
            </div>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";

    $productWidth: 200px;

    main {
        gap: 1rem;
    }

    h1 {
        @include fonts.reeniebeanie;
        color: #d57d18;
        font-size: 5rem;
        margin: 0;
    }

    .search {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;

        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    input {
        margin: 0;
        padding: 0;
        // margin: 1rem auto;
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, $productWidth);
        grid-gap: 1rem;
        justify-content: center;

        padding: 1rem;
        box-sizing: border-box;
    }

    .product {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;

        width: $productWidth;
        background-color: #e6972e;

        border-radius: 0.25rem;

        padding: 0.5rem;
        box-sizing: border-box;

        .image {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .button {
        }
    }
</style>
