---
import facebook from "~assets/icons/facebook.svg";
import instagram from "~assets/icons/instagram.svg";
import youtube from "~assets/icons/youtube.svg";
import spotify from "~assets/icons/spotify.svg";
import applemusic from "~assets/icons/applemusic.svg";
---

<footer>
    <div class="title">Gents & Ginger</div>

    <div class="social-links">
        <a href="https://www.facebook.com/gentsandginger" aria-label="Instagram" target="_blank">
            <img alt="" src={facebook.src} />
        </a>

        <a href="https://www.instagram.com/gentsandginger/" aria-label="Instagram" target="_blank">
            <img alt="" src={instagram.src} />
        </a>

        <a href="https://www.youtube.com/@gentsginger5174" aria-label="YouTube" target="_blank">
            <img alt="" src={youtube.src} />
        </a>

        <a href="https://open.spotify.com/artist/7jIpsmRlZWQbKMjbxVeJ5M?si=0scp_nZNS2KHEGRTYOtZmw" aria-label="Spotify" target="_blank">
            <img alt="" src={spotify.src} />
        </a>

        <a href="https://music.apple.com/gb/artist/gents-ginger/1765128507" aria-label="Apple Music" target="_blank">
            <img alt="" src={applemusic.src} />
        </a>
    </div>

    <div class="policies">
        <a href="/gentsandginger/about/">About</a>
        <a href="/gentsandginger/contact/">Contact</a>
        <a href="/gentsandginger/policies/privacy-policy/">Privacy Policy</a>
    </div>

    <div>&copy; Gents & Ginger {new Date().getFullYear()}</div>

    <div class="signature">Built by <a href="https://yalin.io">Berkay Yalin</a>.</div>
</footer>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/color";

    .title {
        font-size: 2rem;
        @include fonts.reeniebeanie;
        padding: 2rem;
        box-sizing: border-box;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 1rem 10rem;
        box-sizing: border-box;
        text-align: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;

        a {
            text-decoration: none;
        }
    }

    .policies {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        a {
            color: color.$black;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    .signature a {
        color: color.$darkblue;
    }
</style>
