---
interface Props {
    dynamic?: boolean;
    color?: string;
    align?: string;
    style?: string;
    id?: string;
    font?: string;
}
const { dynamic = false, color, align, style, id, font } = Astro.props;
---

<h1 id={id} class={`${dynamic && "madri"} ${font}`} style={`color: ${color}; text-align: ${align}; ${style}`}>
    <slot />
</h1>

<style lang="scss">
    @use "~styles/fonts";

    h1 {
        @include fonts.grandstander;
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
    }

    .reeniebeanie {
        @include fonts.reeniebeanie;
    }
</style>
