---
import events from "~assets/events";
import Button from "~components/Button.astro";

interface Props {
    number?: number;
}

const { number = events.length } = Astro.props;
---

<div class="wrapper">
    {
        events.slice(0, number).map((event) => (
            <div class={event.date > new Date() ? "event" : "event inactive"}>
                <div class="date">
                    <div class="day">{event.day}</div>
                    <div class="month">{event.month.slice(0, 3)}</div>
                </div>

                <a class={event.url ? "text" : "text inactive"} href={event.url}>
                    <div class="title">{event.title}</div>
                    <div class="location">{event.location}</div>
                </a>

                <Button desktop inactive={event.date < new Date()} href={event.url}>
                    Buy Tickets
                </Button>
            </div>
        ))
    }
</div>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/color";
    @use "~styles/riko";

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .event {
        display: flex;
        gap: 0.5rem;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid black;
    }

    .event.inactive {
        color: grey;

        .text {
            pointer-events: none;
            cursor: default;
        }
    }

    .wrapper > :last-child {
        border-bottom: 0;
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 40px;

        @include fonts.reeniebeanie;
        font-size: 1.5rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        flex: 1;

        overflow: hidden;

        color: inherit;
        text-decoration: none;

        .title,
        .location {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            text-decoration: underline;
        }
    }
</style>
