---
import events from "~assets/events";
import Button from "~components/Button.astro";

interface Props {
    number?: number;
}

const { number = events.length } = Astro.props;
---

<div class="wrapper">
    {
        events.slice(0, number).map((event) => (
            <div class={event.date[0] > new Date() ? "event" : "event inactive"}>
                <div class="date" style={event.date[0] > new Date() ? "" : "color: grey;"}>
                    <div class="day">{event.day}</div>
                    <div class="month">{event.month.slice(0, 3)}</div>
                </div>

                {event.url ? (
                    <a class="text" href={event.url}>
                        <div class="title">{event.title}</div>
                        <div class="location">{event.location}</div>
                    </a>
                ) : (
                    <div class="text">
                        <div class="title" style="text-decoration: none !important">
                            {event.title}
                        </div>
                        <div class="location">{event.location}</div>
                    </div>
                )}

                <Button desktop class_={event.date[0] > new Date() ? "" : "inactive"} href={event.url}>
                    Buy Tickets
                </Button>
            </div>
        ))
    }
</div>

<style lang="scss">
    @use "~styles/color";
    @use "~styles/fonts";
    @use "~styles/riko";

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .event {
        display: flex;
        gap: 0.5rem;

        padding: 1rem;
        box-sizing: border-box;

        border-bottom: 1px solid black;
    }

    .wrapper > :last-child {
        border-bottom: 0;
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 50px;

        @include fonts.reeniebeanie;
        font-size: 1.5rem;
    }

    .text {
        text-decoration: none;
        color: inherit;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        overflow: hidden;
        flex: 1;

        .title,
        .location,
        .date {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            text-decoration: underline !important;
        }
    }
</style>
