---
import logo from "~assets/logo.svg";
import hamburger from "~assets/icons/hamburger.svg";
import x from "~assets/icons/x.svg";

interface Props {
    style?: string;
}

const { style } = Astro.props;
---

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".riko-button");
        const menu = document.getElementById("riko-menu")!;
        const rikoButtonOpen = document.getElementById("riko-button-open")!;

        buttons.forEach((btn) => {
            const button = btn as HTMLElement;

            button.addEventListener("click", () => {
                if (window.getComputedStyle(menu).display === "none") {
                    menu.style.display = "flex";

                    document.body.style.overflow = "hidden";
                    document.documentElement.style.overflow = "hidden";

                    rikoButtonOpen.style.display = "none";
                } else {
                    rikoButtonOpen.style.display = "unset";
                    menu.style.display = "none";

                    document.body.style.overflow = "unset";
                    document.documentElement.style.overflow = "unset";

                    document.body.style.overflowX = "hidden";
                    document.documentElement.style.overflowX = "hidden";
                }
            });
        });
    });
</script>

<nav style={style}>
    <div class="ghost mobile">
        <button id="riko-button-open" class="riko-button">
            <img alt="hamburger" src={hamburger.src} />
        </button>

        <a class="logo" href="/gentsandginger/">
            <img alt="" src={logo.src} />
        </a>

        <div id="riko-menu" class="hidden">
            <div class="riko-menu-menu">
                <button class="riko-button">
                    <img alt="x" src={x.src} />
                </button>

                <a class="logo" href="/gentsandginger/">
                    <img alt="" src={logo.src} />
                </a>
            </div>

            <div class="riko-menu-links">
                <a href="/gentsandginger/events/">Events</a>
                <a href="/gentsandginger/merchandise/">Merchandise</a>
                <a href="/gentsandginger/about/">About</a>
                <a href="/gentsandginger/contact/">Contact</a>
            </div>
        </div>
    </div>

    <div class="ghost desktop">
        <a href="/gentsandginger/events/">Events</a>

        <a href="/gentsandginger/merchandise/">Merchandise</a>

        <a class="logo" href="/gentsandginger/">
            <img alt="" src={logo.src} />
        </a>

        <a href="/gentsandginger/about/">About</a>

        <a href="/gentsandginger/contact/">Contact</a>
    </div>
</nav>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/mia";
    @use "~styles/riko";
    @use "~styles/color";
    @use "~styles/adam";

    // universal styling
    .logo > img {
        max-height: 90px;
        max-width: 100%;
    }

    nav {
        @include adam.navigation;
    }

    // desktop styling
    @media (min-width: riko.$desktop) {
        nav > .desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            padding: 1rem;
            box-sizing: border-box;

            @include fonts.reeniebeanie;
            font-size: 2rem;
        }

        a {
            color: color.$orange;
            text-decoration: none;
        }
    }

    // mobile styling
    @media (max-width: riko.$mobile) {
        nav > .mobile {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            gap: 2rem;

            padding: 1rem;
            box-sizing: border-box;

            :nth-child(1) {
                grid-column: 1;
                justify-self: start;
            }

            :nth-child(2) {
                grid-column: 2;
                justify-self: center;
            }
        }

        .riko-button {
            @include mia.resetButton;
            color: color.$orange;

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        #riko-menu {
            height: 100svh;
            display: none;
            position: fixed;
            inset: 0;

            background-color: color.$eggshell;

            flex-direction: column;

            a {
                color: color.$orange;
                text-decoration: none;
            }

            .riko-menu-menu {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                align-items: center;
                gap: 2rem;

                padding: 1rem;
                box-sizing: border-box;

                > button {
                    grid-column: 1;
                    justify-self: start;

                    @include mia.resetButton;
                    color: color.$orange;

                    img {
                        height: 2rem;
                        width: 2rem;
                    }
                }

                > a {
                    grid-column: 2;
                    justify-self: center;
                }
            }
        }

        .riko-menu-links {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            @include fonts.reeniebeanie;
            font-size: 2rem;
        }
    }
</style>
